<div class='page-header'>
  <h2>
    <a ng-show='post.link'  href={{post.link}}>{{post.title}}</a>
    <span ng-hide='post.link'>{{post.title}}</span>
  </h2>
  <span class='small'>{{post.description}}</span>
</div>
<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
  <div class="panel panel-default">
    <div class="panel-body">
      {{comment.body}}
    </div>
    <div class="panel-footer small">
      <span style='margin-right: 10px;'>Author: {{comment.user.username}}</span>
      <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
      <span style='margin-left: 3px;'>{{comment.upvotes}}</span>
    </div>
  </div>
</div>

<form ng-submit='addComment()' style="margin-top:30px;">
  <h3>Add a new comment</h3>
  <div class='form-group'>
    <input type='text' class='form-control' placeholder='Comment' ng-model='body'></input>
  </div>
  <button type='submit' class="btn btn-primary">
  <span class="glyphicon glyphicon-plus" aria-hidden="true" style='margin-right:5px;'></span>Post my comment</button>
</form>
