<!DOCTYPE html>
<html>
<head>
  <title>HappyPosts on Rails + AngularJS</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
 -->
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='happyPosts'>
  <!-- <div class="container"> -->
    <div class='row'>
      <div class='col-md-6 col-md-offset-3'>
        <ui-view></ui-view>
      </div>
    </div>
  <!-- </div> -->

  <footer class="footer">
    <div class="container">
      <p style='text-align:center;'>
        Made by: <a href='http://www.janeheatherdee.com' style='margin-right:20px;'>buzzlightyear182</a>
        <span class="glyphicon glyphicon-star" style='margin-right:20px;' aria-hidden="true"></span>
        <a style='text-align:left;' href='http://github.com/buzzlightyear182/happyPosts-rails'>Check me out on Github</a>
      </p>
    </div>
  </footer>

</body>
</html>
